*.json
*.png
*.jpg
*.html
*.txt
!gui/dist/change_log.txt
*.gif
*.toc
gui/build/*
gui/temp/*
*__pycache__*
pikax/*__pycache__*
pikax/api/*__pycache__*
#*

pikax/test*
pikax/try*
function_test*
test*
_*demo
.*
.idea/*
_*
!pikax/__init__.py
!pikax/api/__init__.py
cookies.data
*/*.pikaxdata
build/*
deprecated/*
pikax.egg-info
setup.py
dist/*
gui/dist/Pikax*
image_data/*