*.json
*.png
*.jpg
*.html
*.txt
!gui/dist/change_log.txt
*.gif
*.toc
gui/build/main/*
*__pycache__*
pikax/*__pycache__*
pikax/api/*__pycache__*
#*

pikax/test*
pikax/try*
function_test*
test*
_*demo
.*
.idea/*
_*
cookies.data
